* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  
  
}


body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F2F2F2, #247BA0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F2F2F2 , #247BA0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-bottom: 1px solid #50514F; 

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
